{% extends 'base.html' %}

{% block title %}Adding Preset{% endblock %}
{% block name %}Adding Preset{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Add Preset</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Preset Name: {{ form.title }} <br><br>
                        Preset File: {{ form.download }} <br><br>
                        Image Before: {{ form.before }} <br><br>
                        Image After: {{ form.after }} <br><br>
                        <button class="btn btn-secondary">Add Preset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}