{% extends 'base.html' %}

{% block title %}Adding Article{% endblock %}
{% block name %}Adding Article{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Add Post</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>
 
    <script>
        var cur_user_id = "{{ user.id }}";
        document.getElementById("current_user").value = cur_user_id;
    </script>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}