{% extends 'base.html' %}

{% block title %}Adding Category{% endblock %}
{% block name %}Adding Category{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Add Category</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}