{% extends 'base.html' %}

{% block title %}Adding Comment{% endblock %}
{% block name %}Adding Comment{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Add Comment to Post</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>

    <script>
        var cur_user_name = "{{ user.first_name }} {{ user.last_name }}";
        document.getElementById("comment_user").value = cur_user_name;
    </script>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}