{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block add-to-head %}{% endblock %}
</head>

<body>

    <div class="head-img"></div>
    <div class="white-strip"></div>

    <div class="container-fluid main-menu">
        <div class="row text-center">
            <div class="col menu-col">
                <a href="{% url 'home' %}" class="menu-button">Home</a>
            </div>
            <div class="col menu-col">
                <a href="{% url 'blog' %}" class="menu-button">Blog</a>
            </div>
            <div class="col menu-col">
                <a href="{% url 'presets' %}" class="menu-button">Presets</a>
            </div>
            {% if user.is_staff or user.is_superuser %}
                <div class="col menu-col">
                    <a class="dropdown-toggle menu-button" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'add_post' %}">Add Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_preset' %}">Add Preset</a></li>
                    </ul>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="col menu-col">
                    <a class="dropdown-toggle menu-button" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a></li>
                        {% if user.profile.id %}
                        <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                        <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col menu-col">
                    <a href="{% url 'logout' %}" class="menu-button">Logout</a>
                </div>
            {% else %}
                <div class="col menu-col">
                    <a href="{% url 'register' %}" class="menu-button">Register</a>
                </div>
                <div class="col menu-col">
                    <a href="{% url 'login' %}" class="menu-button">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container navigation">
        <div class="row">
            <div class="col">
                <h1 class="main-heading">{% block name %}{% endblock %}</h1>
            </div>
        </div>
    </div>

        <!--- DROPDOWN MENU FOR CATEGORIES
        {% if cat_menu %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                {% for item in cat_menu %}

                    <li><a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a></li>

                {% endfor %}

            </ul>
        </li>

        {% endif %} -->

    <div class="container">
    
        {% block content %}{% endblock %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

</html>