{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}
{% block name %}Blog{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="container-fluid">
            <div class="row text-center justify-content-center category-row">
                {% for item in cat_menu %}
                    <div class="col-12 cat-col">
                        <a href="{% url 'category' item|slugify %}" class="cat-link">{{ item.name|slice:30 }}</a>
                        {% if user.is_superuser %}
                        <a href="{% url 'delete_category' item.pk %}" class="cat-delete">(Delete &#8657;)</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-12">
        <div class="container-fluid">
            {% for post in object_list %} 
                <div class="row post-row">
                    <div class="col-md-3 text-center">
                        <br>
                        {% if post.author.profile.profile_pic %}
                            <img src="{{ post.author.profile.profile_pic.url }}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2">
                        {% else %}
                            <img src="{% static 'webapp/images/default_profile_pic.jpg' %}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2">
                        {% endif %} <br>
                        {% if post.author.profile %}
                            <a href="{% url 'show_profile_page' post.author.profile.id %}" class="post-link-cat">{{ post.author.first_name }} {{ post.author.last_name }}</a><br>
                        {% else %}
                            <span>{{ post.author.first_name }} {{ post.author.last_name }}</span><br>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <a href="{% url 'post_detail' post.pk %}" class="post-link">{{ post.title }}</a><br>
                        Category: <a href="{% url 'category' post.category|slugify %}" class="post-link-cat">{{ post.category|title }}</a>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id or user.is_superuser %}
                                <a href="{% url 'edit_post' post.pk %}" class="post-link-edit">(Edit)</a>
                                <a href="{% url 'delete_post' post.pk %}" class="post-link-edit">(Delete)</a>
                            {% endif %}
                        {% endif %}<br> 
                        {{ post.introduction }}<br><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}