{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}
{% block name %}Category Page{% endblock %}

{% block content %}

{% if category_posts %}

    <div class="row">
        <div class="col text-center">
            <h1>Category: {{ cats }}</h1>
        </div>
    </div>

    {% for post in category_posts %}

        <div class="row post-row">
            <div class="col-3 text-center">
                {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2 mt-2">
                {% else %}
                    <img src="{% static 'webapp/images/default_profile_pic.jpg' %}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2 mt-2">
                {% endif %} <br>
                {% if post.author.profile %}
                    <a href="{% url 'show_profile_page' post.author.profile.id %}" class="post-link-cat">{{ post.author.first_name }} {{ post.author.last_name }}</a><br>
                {% else %}
                    <span>{{ post.author.first_name }} {{ post.author.last_name }}</span><br>
                {% endif %}
            </div>
            <div class="col-9">
                <a href="{% url 'post_detail' post.pk %}" class="post-link">{{ post.title }}</a>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id or user.is_superuser %}
                        <a href="{% url 'edit_post' post.pk %}" class="post-link-edit">(Edit)</a> 
                        <a href="{% url 'delete_post' post.pk %}" class="post-link-edit">(Delete)</a>
                    {% endif %}
                {% endif %}<br><br>
                {{ post.introduction }}<br><br>
            </div>
        </div>

    {% endfor %}

{% else %}

    <div class="row">
        <div class="col text-center">
            <h1>Category "{{ cats }}" has no posts...</h1>
            <a href="{% url 'blog' %}" class="return">Return back</a>
        </div>
    </div>

{% endif %}

{% endblock %}