{% extends 'base.html' %}

{% block title %}Deleting Preset{% endblock %}
{% block name %}Deleting Preset{% endblock %}

{% block content %}

{% if user.is_superuser %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Delete Preset: {{ preset.title }}</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <strong>Are you sure?</strong><br><br>
                        <button class="btn btn-danger">Delete Preset!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}