{% extends 'base.html' %}

{% block title %}Editing Article{% endblock %}
{% block name %}Editing Article{% endblock %}

{% block content %}

{% if user.is_authenticated and user.id == post.author.id and user.is_staff or user.is_superuser %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Edit Post</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}