{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block name %}Home Page{% endblock %}

{% block content %}

    <div class="container">
        <div class="row text-center">
            <h1>Welcome here, Creator!</h1>
        </div>
        <div class="row mt-3">
            <div class="col-6 offset-1">
                <p style="font-size: 1.35em;">So you are a creator of some kind... Do you want to show your work to others? Do you want to see and comment on the creations of others? Do you want to get feedback on your work?</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 offset-5">
                <p style="font-size: 1.35em;">Welcome to our page! I am happy to see you here. If you want to write your own blog, you can do it here! If you want to show your images to others, you can post them here. If you want to post your own presets for Adobe Photoshop and Adobe Photoshop Lightroom or you can download some greate ones for your future creations, you can do it here too!</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 offset-1">
                <p style="font-size: 1.35em;">Register now and you can comment and like the work from creators on this page! <br>
                And when you want to be a creator here too? Just write me on an email and tell me there your username on this page, and I'll make you a creator! It's that easy! <br><br>
                My email adress is: <i>23gprochazka@dgkralupy.eu</i></p>
            </div>
        </div>
        <div class="row mt-3 text-center">
            <p style="font-size: 2em;">Now stop thinking and start creating!</p>
        </div><br><br>
    </div>

{% endblock %}