{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block name %}Article{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-sm-end text-center">
        <div class="col-sm-3">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2">
            {% else %}
                <img src="{% static 'webapp/images/default_profile_pic.jpg' %}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2">
            {% endif %} <br>
            {% if post.author.profile %}
                <a href="{% url 'show_profile_page' post.author.profile.id %}" class="post-link-cat">{{ post.author.first_name }} {{ post.author.last_name }}</a><br>
            {% else %}
                <span>{{ post.author.first_name }} {{ post.author.last_name }}</span><br>
            {% endif %}
        </div>
        <div class="col-sm-9 text-center">
            <h1>{{ post.title }}</h1>
            <p>Category: <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></p>
            <p><small>{{ post.post_date|date:'d. m. Y' }}</small>
            {% if user.is_authenticated %}
            {% if user.id == post.author.id or user.is_superuser %}
                - <a href="{% url 'edit_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a></p>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12 mt-3">
            {{ post.body|safe }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-6 mt-3">
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
            
                {% if user.is_authenticated %}
            
                    {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Unlike</button>
                    {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
                    {% endif %}
            
                {% endif %}
            </form>
        </div>
        <div class="col-lg-4 col-6 mt-3 text-end">
            <span style="font-size: 1.5em;">{{ total_likes }} Likes</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-12 mt-5">
            <h1>Comments</h1><hr>
            {% if not post.comments.all %}
            No comments yet... 
            {% if user.is_authenticated %}
            <a href="{% url 'add_comment' post.pk %}">Add first one here</a><br><br>
            {% endif %}
            {% else %}

            {% if user.is_authenticated %}
            <a href="{% url 'add_comment' post.pk %}">Add a comment here</a><br><br>
            {% endif %}

            {% for comment in post.comments.all %}

                {{ comment.name }} - {{ comment.post_date }} <br>
                {{ comment.body }} <br><hr><br>

            {% endfor %}

            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-12 mt-3">
            {% if post.image %}

            <img src="{{ post.image.url }}" alt="Image" class="img-fluid"><br><br>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}