{% extends "base.html" %}
{% load static %}

{% block title %}Presets{% endblock %}
{% block name %}Presets{% endblock %}
{% block add-to-head %}<link href="{% static 'webapp/css/lightbox.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}

    <div class="container">
    {% for preset in object_list %}
        <div class="row align-items-center preset-row">
            <div class="col-md-4 align-middle preset-col">
                <h3>{{ preset.title }}</h3>
                <a href="{{ preset.download.url }}" download>Download {{ preset.title }} Preset</a>
                {% if user.is_superuser %}
                <a href="{% url 'delete_preset' preset.pk %}">(Delete)</a>
                {% endif %}
            </div>
            <div class="col-md-8 text-center">
                <a href="{{ preset.before.url }}" data-lightbox="{{ preset.title }}">
                    <img class="img preset-img" src="{{ preset.before.url }}" alt="{{ preset.title }} before">
                </a>
                <a href="{{ preset.after.url }}" data-lightbox="{{ preset.title }}">
                    <img class="img preset-img" src="{{ preset.after.url }}" alt="{{ preset.title }} after">
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    <script src="{% static 'webapp/js/lightbox-plus-jquery.js' %}"></script>
{% endblock %}
