body {
    margin: 0;
    padding: 0;
}
.main-menu {
    background: rgba(0, 30, 95, 0.575);
    display: block;
    margin-bottom: 40px;
}
.menu-button {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 10px 15px;
    border: solid 1px black;
    transition: 300ms;
}
.menu-button:hover {
    color: rgb(0, 30, 95);
    background: rgb(255, 255, 255);
}
.menu-col {
    padding: 0;
}
.main-heading {
    color: white;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 160px;
}
.head-img {
    background-color: rgb(0, 30, 95);
    background-image: url("../images/head.jpg");
    height: 400px;
    background-position: 50% 30%;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -2;
}
.white-strip {
    background: white;
    width: calc(100% - 1px);
    height: 200px;
    position: absolute;
    top: 290px;
    transform: skew(-3deg) rotate(-3deg);
    z-index: -1;
}
.cat-link {
    background-color: rgb(202, 219, 255);
    padding: 5px 7px;
    margin: 3px auto;
    display: block;
    color: black;
    text-decoration: none;
    transition: 200ms;
    border-radius: 10px;
}
.cat-link:hover {
    background-color: rgb(91, 143, 255);
    color: white;
}
.cat-delete {
    text-decoration: none;
    color: black;
}
.drop {
    color: black;
    background: rgb(231, 231, 231);
    border-radius: 10px;
    margin-bottom: 10px;
}
.user-row {
    margin-top: 20px;
}
.post-link {
    text-decoration: none;
    font-size: 1.5em;
    transition: 300ms;
    padding: 5px 10px;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.post-link-cat {
    text-decoration: none;
}
.post-link-edit {
    text-decoration: none;
    color: rgb(170, 170, 170);
}
.post-link-edit:hover {
    color: black;
}
.post-link:hover {
    background-color: rgb(172, 172, 172);
    color: black;
}
.post-row {
    margin: 40px auto;
    background: rgba(216, 216, 216, 0.336);
    padding: 15px;
    border-radius: 15px;
}
.return {
    font-size: 1.5em;
}
.preset-img {
    width: 300px;
    border: 1px solid #212529;
    border-radius: 5px;
    margin: 5px auto;
}
.preset-row {
    margin: 30px auto;
    padding: 30px;
    background: rgba(33,37,41,0.1);
    border-radius: 7px;
}
.preset-col a {
    padding: 15px 20px;
    background: #6f88c0;
    margin: 15px 15px 15px 0px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    transition: 300ms;
    display: block;
    text-align: center;
}
.preset-col a:hover {
    color: white;
    background: #122655;
}
.preset-col h3 {
    font-size: 2em;
    margin: 15px 15px 30px 0px;
    border-bottom: 1px solid #212529;
}

@media only screen and (max-width: 1000px) {
    .preset-col a {
        margin: 10px 10px 10px 0px;
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .preset-col {
        text-align: center;
    }
    .preset-col a {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .main-heading {
        margin-bottom: 130px;
    }
    .preset-img {
        width: 80%;
    }

}
@media only screen and (max-width: 550px) {
    .main-menu {
        background: rgb(0, 30, 95);
        margin-bottom: 25px;
    }
    .menu-button:hover {
        color: rgb(0, 30, 95);
    }
    .main-heading {
        color: rgb(0, 30, 95);
        font-size: 4em;
        margin-bottom: 25px;
    }
    .head-img {
        display: none;
    }
    .white-strip {
        display: none;
    }
}
@media only screen and (max-width: 300px) {
    .main-heading {
        font-size: 3em;
    }
}