{% extends 'base.html' %}

{% block title %}Creating Profile Page{% endblock %}
{% block name %}Creating Profile Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Create Profile Page</h1><br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Create Profile Page</button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>

{% else %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This page does not exist!</h1>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}