{% extends 'base.html' %} 

{% block title %}Login{% endblock %} 
{% block name %}Login{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Login</h1><br>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
            
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
            
                    <!--<strong>Name: {{ form.username }}</strong> <br>
                    <strong>Password: {{ form.password }}</strong>-->
            
                    <button class="btn btn-secondary">Login</button><br><br>
                </form>
            
                <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</div><br><br>

{% endblock %}