{% extends 'base.html' %}

{% block title %}Updated Password{% endblock %}
{% block name %}Updated Password{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Your password has been updated!</h1>
        </div>
    </div>
</div>

{% endblock %}