{% extends 'base.html' %}

{% block title %}Registration{% endblock %}
{% block name %}Registration{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Registration</h1><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div><br><br>

{% endblock %}