{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile Page{% endblock %}
{% block name %}{{ page_user.user.first_name }} {{ page_user.user.last_name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 text-lg-start text-center">
            {% if page_user.profile_pic %}
                <img src="{{ page_user.profile_pic.url }}" alt="Profile picture" width="200" height="200" style="object-fit: cover;" class="rounded-circle mb-2">
            {% else %}
                <img src="{% static 'webapp/images/default_profile_pic.jpg' %}" alt="Profile picture" width="100" height="100" style="object-fit: cover;" class="rounded-circle mb-2">
            {% endif %} <br>
        </div>
        <div class="col-lg-6 text-lg-start text-center">
            <h1>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h1>
            {% if page_user.bio %}
            <p>{{ page_user.bio }}</p>
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% if page_user.website_url %}
                        <a href="http://{{ page_user.website_url }}" target="_blank">Website</a>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if page_user.instagram_url %}
                        <a href="http://{{ page_user.instagram_url }}" target="_blank">Instagram</a>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if page_user.facebook_url %}
                        <a href="http://{{ page_user.facebook_url }}" target="_blank">Facebook</a>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if page_user.twitter_url %}
                        <a href="http://{{ page_user.twitter_url }}" target="_blank">Twitter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}